@page "/article/{Id}"
@page "/p/{Id}"
@rendermode InteractiveAuto

@using Blog.Client.Data
@using Blog.Model
@using System.Runtime.InteropServices
@using QRCoder
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject IClientApiProvider _api

<PageTitle>@CurrentArticle.Title | 遇见时光-1bk.cn</PageTitle>
<HeadContent>
    <meta name="description" content="@CurrentArticle.Summary">
    <link rel="canonical" href="@(new Uri(new Uri(NavManager.BaseUri), $"/p/{Id}"))" />
    <link href="/lib/highlight.js@11.10.0/monokai-sublime.min.css" rel="stylesheet" />
</HeadContent>


<div class="site-content container">
    <article class="post-content">
        <div class="post-header">
            <h1 class="post-title">@CurrentArticle.Title</h1>
            <div class="post-info">
                <span class="infoLeft">
                    <svg class="icon">
                        <use xlink:href="#icon-book" />
                    </svg>
                    <a href="/c/@CurrentArticle.ChannelId" rel="category tag">@CurrentArticle.ChannelName</a>
                </span>
                <span class="infoLeft">
                    <svg class="icon">
                        <use xlink:href="#icon-calendar" />
                    </svg>
                    @($"{CurrentArticle.Created:yyyy年M月d日 HH:mm}")
                </span>
                <span class="infoLeft">
                    <svg class="icon">
                        <use xlink:href="#icon-user" />
                    </svg>
                    @CurrentArticle.Author
                </span>
                <span class="infoLeft">
                    <svg class="icon">
                        <use xlink:href="#icon-eye" />
                    </svg>
                    @CurrentArticle.Viewed
                </span>
                <span class="opQrcode"><i class="iconfont icon-qr-code-line"></i>手机阅读</span>
                <div id="qrcode" class="flex" title="@(NavManager.Uri)"><img alt="Scan me!" src="@(qrCode)" style="display: block;"></div>
            </div>
        </div>
        <div class="post-main">
            @((MarkupString)CurrentArticle.Content)
        </div>
    </article>
    <div class="notice">
        <p>本站发布的文章受知识共享协议保护，转载、收录请标明出处。</p>
    </div>
    <div class="post-navigation flex">
        <div class="nav-box previous nav_box_previous">
            <a href="/p/@prevArticle?.Id">
                <div class="prev_info">
                    <span><i class="iconfont icon-arrow-left-s-line"></i>@(string.IsNullOrWhiteSpace(prevArticle?.Title) ? "已经是第一篇": "上一篇")</span>
                    <p>@prevArticle?.Title</p>
                </div>
            </a>
        </div>
        <div class="nav-box next nav_box_next">
            <a href="/p/@nextArticle?.Id">
                <div class="prev_info">
                    <span>@(string.IsNullOrWhiteSpace(nextArticle?.Title) ? "已经是最后一篇" : "下一篇")<i class="iconfont icon-arrow-right-s-line"></i></span>
                    <p>@nextArticle?.Title</p>
                </div>
            </a>
        </div>
    </div>
    <Comments OwnerId="@Id">
    </Comments>
</div>

<script src="/lib/highlight.js@11.10.0/highlight.min.js"></script>
<script src="/lib/highlight.js@11.10.0/highlightjs-line-numbers-2.8.0.min.js"></script>
<script>
    hljs.highlightAll();
    document.querySelectorAll('code.hljs').forEach(function (block) {
        hljs.lineNumbersBlock(block);
    });
</script>

@code {
    [Parameter]
    public required string Id { get; set; }
    [PersistentState]
    public required ArticleModel CurrentArticle { get; set; }
    private string qrCode = string.Empty;
    private ArticleModel prevArticle = new();
    private ArticleModel nextArticle = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (CurrentArticle is null)
        {
            CurrentArticle ??= new();
            CurrentArticle = await _api.GetArticleAsync(Id);
        }
        await _api.UpdateArticleViewedAsync(Id);
        qrCode = GetQrCode(NavManager.Uri);
        prevArticle = await _api.GetPrevArticleAsync(Id);
        nextArticle = await _api.GetNextArticleAsync(Id);

    }

    private string GetQrCode(string url)
    {
        using var qrGenerator = new QRCodeGenerator();
        var data = qrGenerator.CreateQrCode(url, QRCodeGenerator.ECCLevel.Q);
        var qrCode = new PngByteQRCode(data);
        var bytes = qrCode.GetGraphic(4, drawQuietZones: false);
        var QrCodeBase64 = $"data:image/png;base64,{Convert.ToBase64String(bytes)}";
        return QrCodeBase64;
    }
}
