@page "/"
@rendermode InteractiveAuto

@using Blog.Model
@using Blog.Client.Data

@inject IClientApiProvider _api

<PageTitle>遇见时光-1023.org.cn | 博客首页 | 学习技术、记录生活</PageTitle>
<HeadContent>
    <meta name="description" content="人生百态，爱我所爱！">
</HeadContent>
<section class="site-content container">
    @foreach (var article in Articles)
    {
        <article class="hasThumb flex">
            <div class="article-content">
                <h2 class="entry-title hidden">
                    <a class="hoverColor" href="/p/@article.Id" title="@article.Title" rel="bookmark">@article.Title</a>
                </h2>
                <div class="entry-content hidden">
                    @article.Summary
                </div>
                <div class="entry-info">
                    <span class="info">
                        <svg class="icon">
                            <use xlink:href="#icon-book" />
                        </svg>
                        @article.ChannelName
                    </span>
                    <span class="info">
                        <svg class="icon">
                            <use xlink:href="#icon-calendar" />
                        </svg>                        @($"{article.Created:yyyy年M月d日 HH:mm}")
                    </span>
                    <span class="info">
                        <svg class="icon">
                            <use xlink:href="#icon-user" />
                        </svg>                        @article.Author
                    </span>
                    <span class="info">
                        <svg class="icon">
                            <use xlink:href="#icon-eye" />
                        </svg>                        @article.Viewed
                    </span>
                    <span class="info">
                        <svg class="icon">
                            <use xlink:href="#icon-message" />
                        </svg>                        @article.CommentCount
                    </span>
                </div>
            </div>
            <div class="entry-thumb">
                <a class="focus hidden" href="/p/@article.Id" title="@article.Title">
                    @if (@article.File != null)
                    {
                        <img loading="auto" src="@Path.Combine(article.File.Path, article.File.Name)" alt="@article.Title" title="@article.Title">
                    }
                </a>
            </div>
        </article>
    }
    <div class="pagenavi flex">
        <a class="load-more" @onclick="GetArticles">@loadMoreText</a>
    </div>
</section>

@code {
    [PersistentState]
    public int Page { get; set; }
    [PersistentState]
    public required List<ArticleListModel> Articles { get; set; }

    private ArticleQueryModel query = new() { PageSize = 20 };
    private string loadMoreText = "阅读更多";



    protected override async Task OnInitializedAsync()
    {
        if (Articles is null)
        {
            Articles ??= new();
            await GetArticles();
        }
    }

    private async Task GetArticles()
    {
        query.PageIndex = ++Page;
        var result = (await _api.GetArticlesAsync(query));
        Articles.AddRange(result.Data);
        if (Articles.Count >= result.Total)
        {
            loadMoreText = "没有更多内容了！";
        }
    }
}