@page "/channel/{Id}"
@page "/c/{Id}"
@rendermode InteractiveAuto

@using App.Business.Model
@using App.Blazor.Client.Data
@inject NavigationManager NavManager
@inject PersistentComponentState _componentState
@inject IClientApiProvider _api

<PageTitle>@channel?.Title | 遇见时光-1023.org.cn</PageTitle>
<HeadContent>
    <meta name="description" content="@channel?.Title">
    <link rel="canonical" href="@(new Uri(new Uri(NavManager.BaseUri), $"/c/{id}"))" />
</HeadContent>

@if (articles.Any())
{
    <section class="term-bar">
        <div class="container">
            <span>当前分类</span>
            <span class="term-illustrate">@channel.Title</span>
        </div>
    </section>
    <section class="site-content container">
        @foreach (var article in articles)
        {
            <article class="hasThumb flex">
                <div class="article-content">
                    <h2 class="entry-title hidden">
                        <a class="hoverColor" href="/p/@article.Id" title="@article.Title" rel="bookmark">@article.Title</a>
                    </h2>
                    <div class="entry-content hidden">
                        @article.Summary
                    </div>
                    <div class="entry-info">
                        <span class="infoLeft"><i class="iconfont icon-book-read-line"></i>@article.ChannelName</span>
                        <span class="rtime infoLeft"><i class="iconfont icon-calendar-2-line"></i>@($"{article.Created:yyyy年M月d日 HH:mm}")</span>
                        <span><i class="iconfont icon-user-3-line"></i>@article.Author</span>
                    </div>
                </div>
                <div class="entry-thumb">
                    <a class="focus hidden" href="/p/@article.Id" title="@article.Title">
                        @if (@article.File != null)
                        {
                            <img loading="auto" src="@Path.Combine(article.File.Path, article.File.Name)" alt="@article.Title" title="@article.Title">
                        }
                    </a>
                </div>
            </article>
        }
        <div class="pagenavi flex">
            <a class="load-more" @onclick="GetArticles">阅读更多</a>
        </div>
    </section>
}
else
{
    <section class="site-content container">
        <span class="trem-state">抱歉，这个页面不存在！</span>
        <span class="trem-info">它可能已经被删除，或者您访问的URL是不正确的。也许您可以试试搜索？</span>
        <form method="get" class="vice-search" action="/search">
            <input type="search" class="field" placeholder="输入关键词进行搜索…" name="q" required>
            <button type="submit" class="search-submit"><i class="iconfont icon-search-2-line"></i></button>
        </form>
    </section>
}


@code {
    [Parameter]
    public string? id { get; set; }
    private int page = 1;
    private ChannelModel channel = new();
    private ArticleQueryModel query = new () { PageSize = 20 };
    private List<ArticleListModel> articles = new ();

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(id))
        {
            return;
        }
         _componentState.RegisterOnPersisting(PersistArticles);
        if (_componentState.TryTakeFromJson<ChannelModel>(nameof(channel), out var channel_data) && channel_data != null)
        {
            channel = channel_data;

        }
        else
        {
            channel = await _api.GetChannelAsync(id);
        }
        if (_componentState.TryTakeFromJson<List<ArticleListModel>>(nameof(articles), out var articles_data) && articles_data != null)
        {
            articles = articles_data;
        }
        else
        {
            page = default;
            articles.Clear();
            query.ChannelId = id;
            await GetArticles();
        }
    }

    private Task PersistArticles()
    {
        _componentState.PersistAsJson(nameof(channel), channel);
        _componentState.PersistAsJson(nameof(articles), articles);
        return Task.CompletedTask;
    }

    private async Task GetArticles()
    {
        query.ChannelId = id;
        query.PageIndex = page++;
        var data = (await _api.GetArticlesAsync(query)).Data;
        articles.AddRange(data);
    }
}
