@page "/search"
@rendermode InteractiveAuto

@using Microsoft.AspNetCore.WebUtilities
@using App.Business.Model
@using App.Blazor.Client.Data
@inject NavigationManager _navigationManager
@inject IDataProviderApi _api

<PageTitle>搜索结果 | 遇见时光-1023.org.cn</PageTitle>

@if (total > 0)
{
    <section class="term-bar">
        <div class="container">
            <span>搜索结果</span>
            <span class="term-illustrate">“@q” 搜到 @total 篇文章</span>
        </div>
    </section>
    <section class="site-content container">
        @foreach (var article in articles)
        {
            <article class="hasThumb flex">
                <div class="article-content">
                    <h2 class="entry-title hidden">
                        <a class="hoverColor" href="/p/@article.Id" title="@article.Title" rel="bookmark">@article.Title</a>
                    </h2>
                    <div class="entry-content hidden">
                        @article.Summary
                    </div>
                    <div class="entry-info">
                        <span class="infoLeft"><i class="iconfont icon-book-read-line"></i>@article.ChannelName</span>
                        <span class="rtime infoLeft"><i class="iconfont icon-calendar-2-line"></i>@($"{article.Created:yyyy年M月d日 HH:mm}")</span>
                        <span><i class="iconfont icon-user-3-line"></i>@article.Author</span>
                    </div>
                </div>
                <div class="entry-thumb">
                    <a class="focus hidden" href="/p/@article.Id" title="@article.Title">
                        @if (@article.File != null)
                        {
                            <img loading="auto" src="@Path.Combine(article.File.Path, article.File.Name)" alt="@article.Title" title="@article.Title">
                        }
                    </a>
                </div>
            </article>
        }
        <div class="pagenavi flex">
            <a class="load-more" @onclick="GetArticles">阅读更多</a>
        </div>
    </section>
}
else
{
    <section class="site-content container">
        <span class="trem-state">姿势不对？换个词搜一下~</span>
        <span class="trem-info">抱歉，没有找到“@q”的相关内容</span>
        <form method="get" class="vice-search" action="/search">
            <input type="search" class="field" placeholder="输入关键词进行搜索…" name="q" required>
            <button type="submit" class="search-submit"><i class="iconfont icon-search-2-line"></i></button>
        </form>
    </section>
}

@code {
    public string? q;
    private int total = 0;
    private ArticleQueryModel query = new() { PageSize = 20 };
    private List<ArticleListModel> articles = new();


    protected override async Task OnInitializedAsync()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue(nameof(q), out var p))
        {
            q = p.First();
        }

        await GetArticles();
    }

    private async Task GetArticles()
    {
        query.Keyword = q?.Trim();
        query.PageIndex = query.PageIndex++;
        var data = (await _api.GetArticlesAsync(query));
        total = data.Total;
        articles.AddRange(data.Data);
    }
}